# starts simple http server in current directory
alias http='python -m SimpleHTTPServer'
alias httphp='php -S localhost:8000'

# get ip addresses
alias ip='ipconfig getifaddr en0 && curl ipecho.net/plain; echo'

# update brew
alias brew-upgrade='brew update && brew upgrade `brew outdated` && brew cleanup'

# cask shortcut
alias cask='brew cask'

# get various hinting files for projects
alias get-jshint='wget https://raw.githubusercontent.com/ksmithut/standards/master/lint/.jshintrc'

# clears out the current directory/
alias clear-dir='rm -rf ./*'

# show hidden files in finder
alias show-hidden='defaults write com.apple.finder AppleShowAllFiles -bool TRUE; killall Finder;'

# hide hidden files in finder
alias hide-hidden='defaults write com.apple.finder AppleShowAllFiles -bool FALSE; killall Finder;'

# clears all of the duplicate app names in using 'open with...'
alias clear-duplicates='/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user;'

# makes a directory and moves to it
function dir() { mkdir $1 && cd $1; }

# Sets the gopath to the cwd
alias gopath='export GOPATH=`pwd`;'

# clones from my repo
function clone() { git clone git@github.com:ksmithut/$1.git; cd $1; }

# Create OSX Installer

alias osxinstaller='read -e -p "Path to Volume: " VOLUME; sudo /Applications/Install\ OS\ X\ Yosemite.app/Contents/Resources/createinstallmedia --volume "${VOLUME}" --applicationpath /Applications/Install\ OS\ X\ Yosemite.app --nointeraction'
