[alias]
	s = status
	a = add .
	c = commit
	p = push
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
[core]
	excludesfile = ~/.dotfiles/.gitignore
	editor = atom
[push]
	default = simple
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[diff]
	# Detect copies as well as renames
	renames = copies
[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
