# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#

'.source.js':
  'Use Strict':
    'prefix': 'strict'
    'body': """
      'use strict';

      $1

    """
  'Require':
    'prefix': 'require'
    'body': 'var $1 = require(\'$2\');\n$3'
  'Class':
    'prefix': 'class'
    'body': """
      function $1($2) {
        if (!(this instanceof $1)) { return new $1($2); }

        $3
      }


    """

'.source.yaml':
  'Main Swagger Definition':
    'prefix': 'swagger'
    'body': """
      swagger: '2.0'
      info:
        title: $1
        description: $2
        version: ${3:1.0.0}
      produces:
        - application/json
      parameters: {}
      responses: {}
      paths: {}
      definitions: {}
      $4
    """
  'Swagger Path Verb':
    'prefix': 'verb'
    'body': """
      ${1:get}:
        summary: $2
        description: |
          $3
        tags:
          - $4
        parameters:
          ${5:- }
        responses:
          ${6:200}:
            ${7:description: Success}
      $8
    """
