*
!/.gitignore

!/mise
!/mise/config.toml

!/zed
!/zed/keymap.json
!/zed/settings.json
!/zed/snippets
!/zed/snippets/*
!/zed/themes
!/zed/themes/*

!/ghostty
!/ghostty/config
!/ghostty/themes
!/ghostty/themes/*

!/starship.toml

!/aerospace
!/aerospace/aerospace.toml
