*
!/.gitignore

!/git
!/git/*

!/mise
!/mise/*

!/zed
!/zed/keymap.json
!/zed/settings.json
!/zed/snippets
!/zed/snippets/*
!/zed/themes
!/zed/themes/*

!/ghostty
!/ghostty/*

!/starship.toml

!/aerospace
!/aerospace/*
