"$schema" = 'https://starship.rs/config-schema.json'

command_timeout = 2000

# https://starship.rs/presets/gruvbox-rainbow
format = """
[](color_user_bg)[$os$username](bg:color_user_bg fg:color_user_fg)\
[](fg:color_user_bg bg:color_location_bg)[$directory](bg:color_location_bg fg:color_location_fg)\
[](fg:color_location_bg bg:color_git_bg)[$git_branch$git_status$git_commit$git_state](bg:color_git_bg fg:color_git_fg)\
[](fg:color_git_bg bg:color_runtime_bg)[$c$cpp$rust$golang$bun$nodejs$elixir$gleam$php$java$kotlin$haskell$python](bg:color_runtime_bg fg:color_runtime_fg)\
[](fg:color_runtime_bg bg:color_context_bg)[$aws](bg:color_context_bg fg:color_context_fg)\
[](fg:color_context_bg bg:color_duration_bg)[$cmd_duration](bg:color_duration_bg fg:color_duration_fg)\
[](fg:color_duration_bg bg:color_clock_bg)[$time](bg:color_clock_bg fg:color_clock_fg)\
[ ](fg:color_clock_bg)\
$line_break$character$reset"""

palette = 'gruvbox_dark'

[palettes.gruvbox_dark]
color_fg0 = '#fbf1c7'
color_bg1 = '#3c3836'
color_bg3 = '#665c54'
color_blue = '#458588'
color_aqua = '#689d6a'
color_green = '#98971a'
color_orange = '#d65d0e'
color_purple = '#b16286'
color_red = '#cc241d'
color_yellow = '#d79921'

color_user_bg = '#3c3836'
color_user_fg = '#fbf1c7'
color_location_bg = '#d65d0e'
color_location_fg = '#fbf1c7'
color_git_bg = '#d79921'
color_git_fg = '#fbf1c7'
color_runtime_bg = '#689d6a'
color_runtime_fg = '#fbf1c7'
color_context_bg = '#458588'
color_context_fg = '#fbf1c7'
color_duration_bg = '#665c54'
color_duration_fg = '#fbf1c7'
color_clock_bg = '#3c3836'
color_clock_fg = '#fbf1c7'

[os]
disabled = false
style = "none"

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
EndeavourOS = ""
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"
Pop = ""

[status]
disabled = false

[username]
show_always = true
format = " $user "

[directory]
format = " $path "
truncation_length = 3
truncation_symbol = "…/"

[git_branch]
symbol = ""
format = " $symbol $branch "

[git_commit]
format = '(\($hash$tag\) )'

[git_status]
modified = '•'
format = '($all_status$ahead_behind )'

[git_state]
format = '\($state( $progress_current of $progress_total)\)'

[nodejs]
symbol = ""
format = ' $symbol( $version) '

[bun]
symbol = ""
format = ' $symbol( $version) '

[elixir]
symbol = ""
format = ' $symbol( $version) otp $otp_version '

[c]
symbol = " "
format = ' $symbol( $version) '

[cpp]
symbol = " "
format = ' $symbol( $version) '

[rust]
symbol = ""
format = ' $symbol( $version) '

[golang]
symbol = ""
format = ' $symbol( $version) '

[php]
symbol = ""
format = ' $symbol( $version) '

[java]
symbol = ""
format = ' $symbol( $version) '

[kotlin]
symbol = ""
format = ' $symbol( $version) '

[haskell]
symbol = ""
format = ' $symbol( $version) '

[python]
symbol = ""
format = ' $symbol( $version) '

[aws]
symbol = " "
format = ' $symbol($profile )(\($region\) )(\[$duration\] )'

[cmd_duration]
min_time = 2_000
disabled = false
show_notifications = true
notification_timeout = 20_000
format = ' 󱎫 $duration '

[time]
disabled = false
time_format = "%Y-%m-%d %R"
format = '  $time '

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[](bold fg:color_green)'
error_symbol = '[](bold fg:color_red)'
vimcmd_symbol = '[](bold fg:color_green)'
vimcmd_replace_one_symbol = '[](bold fg:color_purple)'
vimcmd_replace_symbol = '[](bold fg:color_purple)'
vimcmd_visual_symbol = '[](bold fg:color_yellow)'

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "
"Code" = " "
"github.com" = " "
"kualibuild" = " "
