"*":
  "release-notes":
    viewedVersion: "0.120.0"
  welcome:
    showOnStartup: false
  editor:
    fontFamily: "Menlo"
    fontSize: 18
    lineHeight: 1.45
    showIndentGuide: true
    autoIndentOnPaste: false
    useShadowDOM: true
    invisibles: {}
    zoomFontWhenCtrlScrolling: true
  core:
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "background-tips"
    ]
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    ensureSingleTrailingNewline: false
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "atom-lint":
    jshint:
      path: "/usr/local/bin/jshint"
    showViolationMetadata: false
  linter:
    lintOnChange: false
    lintOnEditorFocus: false
    showHighlighting: false
  "atom-beautify":
    analytics: false
  react:
    jsxTagStartPattern: "(?x)((^|=|return)\\s*<([^!/?](?!.+?(</.+?>))))"
    jsxComplexAttributePattern: "(?x)\\{ [^}\"']* $|\\( [^)\"']* $"
    decreaseIndentForNextLinePattern: "/>\\s*,?\\s*$"
