"*":
  Zen:
    fullscreen: false
  "atom-beautify":
    general:
      _analyticsUserId: "968ac277-173b-4a04-8099-1a25d4aeda36"
      analytics: false
  "atom-lint":
    jshint:
      path: "/usr/local/bin/jshint"
    showViolationMetadata: false
  "autocomplete-plus":
    confirmCompletion: "tab"
  core:
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "background-tips"
      "about"
      "autosave"
      "bookmarks"
    ]
    themes: [
      "seti-ui"
      "an-old-hope-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Menlo"
    invisibles: {}
    lineHeight: 1.45
    showIndentGuide: true
    useShadowDOM: true
    zoomFontWhenCtrlScrolling: true
  "flex-tool-bar": {}
  linter:
    lintOnChange: false
    lintOnEditorFocus: false
    showHighlighting: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "one-dark-ui":
    layoutMode: "Compact"
  "project-manager":
    closeCurrent: true
  react: {}
  "spell-check": {}
  tabs:
    usePreviewTabs: true
  "tool-bar":
    position: "Left"
    visible: false
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
