# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
'atom-text-editor':
  'alt-down': 'editor:move-to-end-of-line'
  'alt-up': 'editor:move-to-beginning-of-line'
  'alt-shift-down': 'editor:select-to-end-of-line'
  'alt-shift-up': 'editor:select-to-beginning-of-line'

  'alt-k left': 'pane:split-left-and-move-active-item'
  'alt-k right': 'pane:split-right-and-move-active-item'
  'alt-k up': 'pane:split-up-and-move-active-item'
  'alt-k down': 'pane:split-down-and-move-active-item'
