[alias]
	s = status -s
	diff = diff --word-diff
	pr = pull --rebase
	filelog = log -u
	la = "!git config -l | grep alias | cut -c 7-"
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	prune = fetch --prune
	undo = reset --soft HEAD^
	stash-all = stash save --include-untracked
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	git = !exec git
[merge]
	# ff = only
	conflictstyle = diff3
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
	followTags = true
[status]
	showUntrackedFiles = all
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[diff]
	# Detect copies as well as renames
	renames = copies
	algorithm = histogram
