# starts simple http server in current directory
alias http='python -m SimpleHTTPServer'
alias httphp='php -S localhost:8000'

# get ip addresses
alias ip='ipconfig getifaddr en0 && curl ipecho.net/plain; echo'

# update brew
alias brew-upgrade='brew update; brew upgrade --all; brew cleanup'

# cask shortcut
alias cask='brew cask'

# get various hinting files for projects
alias get-jshint='wget https://raw.githubusercontent.com/ksmithut/standards/master/lint/.jshintrc'

# show hidden files in finder
alias show-hidden='defaults write com.apple.finder AppleShowAllFiles -bool TRUE; killall Finder;'

# hide hidden files in finder
alias hide-hidden='defaults write com.apple.finder AppleShowAllFiles -bool FALSE; killall Finder;'

# clears all of the duplicate app names in using 'open with...'
alias clear-duplicates='/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user;'

# makes a directory and moves to it
dir() { mkdir $1 && cd $_; }

# Sets the gopath to the cwd
alias gopath='export GOPATH=`pwd`;'

# update nvm to the latest stable version
alias nvm-update='nvm install stable; nvm alias default `nvm current`;'

# sets default ls action to have trailing slashes at the end of directories
alias ls='ls -p'


alias mongo-up='mongod --config /usr/local/etc/mongod.conf'
alias redis-up='redis-server /usr/local/etc/redis.conf'
alias postgres-up='postgres -D /usr/local/var/postgres'
